<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    
    <p><strong>Patel P.</strong>, Yadav S., Sarkar D.; "Millisecond‑precise, tether‑free, subcellular level resolution neuroinhibition via nanoelectronic devices, a first in nongenetic, direct electrical approaches", 2025 <em>(Under preparation)</em></p>
    
    <p>Yadav S., Lee R., Kajale S., Joy B., <strong>Patel P.</strong>, Saha M., Bull L., Cao S., Mitragotri S., Bono D., Sarkar D.; "Non-surgical Bioelectronic Implant for Targeted Focal Brain Stimulation", 2024 <em>(Under review at <strong>Nature Biotechnology</strong>)</em></p>
    
    <p>Saha M., Joy B., Khan I., <strong>Patel P.</strong>, Sarkar D.; "Magnetically Actuated Nanoantennas for Bioelectrically Induced Glioblastoma Cell Death", 2025 <em>(Under review ACS Nano)</em></p>
    
    <p><strong>Patel P.</strong>; "Peripheral Nervous System Modulation with Wireless Cellular Sized Freestanding Injectable Devices", 2024 <em>(MIT MS Thesis)</em> <a href="https://dspace.mit.edu/handle/1721.1/156960">[Thesis Link]</a></p>
    
    <p><a href="https://doi.org/10.1021/acs.langmuir.0c01924">Ranjan B., <strong>Patel P.</strong>, Mangal R.; "Self-Propelled Janus Colloids in Shear Flow"</a>, <em>Langmuir 36 (40), 11888-11898</em> (2020)</p>
  </div>
</div>
